.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #53dce6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .buttons {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .buttons:hover {
    background-color: #45a049;
  }
  .special-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .special-box img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .special-box h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .special-box p {
    font-size: 16px;
    line-height: 1.5;
  }